<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>Ruxtape</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/stylesheets/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/stylesheets/page-player.css" />
    <meta content="noindex, nofollow" name="robots" />

    <% %w(jquery.js ui.core.js ui.sortable.js ruxtape.js).each do |lib| %>
      <script type="text/javascript" charset="utf-8" src="/javascripts/<%= lib %>"></script>
    <% end %>

    <script type="text/javascript" charset="utf-8" src="/javascripts/soundmanager/soundmanager2-nodebug-jsmin.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <% if true %>
          <div class="manage_button">
            <a href="/admin">Manage</a>
          </div>
          <div class="manage_button">
            <a href="/">Listen</a>
          </div>
        <% end %>
        <div id="title">Ruxtape, sucka</div>
        <div id="subtitle"><%= @mixtape.songs.length %> songs, <%= @mixtape.length %></div>
      </div>
      <div class="pinstripe"></div>
      <%= yield %>
      <div id="footer">
        <a href="http://github.com/jschairb/ruxtape">Ruxtape Code</a>
        &nbsp;&raquo;&nbsp;
        <% if true %>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/login">Login</a>
        <% end %>
      </div>
    </div>
  </body>
</html>
