<div id="content">
  <form class="openid_login" method="post" accept-charset="UTF-8" action='/login/openid'>
    <label for="openid_identifier">Your OpenID:</label>
    <input type="text" name="openid_identifier"
         style="background: url(http://openid.net/images/login-bg.gif) no-repeat #FFF 5px; padding-left: 25px;" />
    <small><a href="http://openid.net/get/" title="What is an OpenID? Where can i get one?'" class="help">What?</a></small>
    <input type="submit" value="Login" />
  </form>
</div>
