<div id="content">
  <h1>Setup your application</h1>

  <form action="" method="post" accept-charset="utf-8">
    <div class="warning">
      <p class="center">
        <label for="configs_openid">Open ID URL</label>
        <input type="text" name="configs_openid" />
      </p>
      <p class="center"><button name="submit" class="darkBtn"><span>Save</span></button></p>
    </div>
  </form>
</div>
