/* DEFAULTS */

* { margin 0; padding: 0; }

body { margin: inherit; }

div#header { background: #800000; color: #FFFAFA;padding: 1em;}
div#title { font-size: xx-large; }
div#subtitle { font-size: large; }
div#wrapper { width: 100%; }
div#content { padding: 0 1em; }
ul.songs { 
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none; }
li.song { border-bottom: 1px solid #ccc;}
li.song:hover { background: #ccc; }
div#footer { padding: 1em; text-align: right; }


/* SONGS LIST */