/* DEFAULTS */

* { margin 0; padding: 0; }

body { 
    margin: inherit; 
    font-family: Inconsolata, Helvetica, "Lucida Grande", "Trebuchet MS", sans-serif; 
    font-size: 1em;
    color:#3F0000;
}
a {
  color:#800000;
}
a:visted {
  color:#800000;
}
a:hover {
  color:#3F0000;
}
div#header {
    width:100%;
    background: #3F0000; 
    color: #FFFAFA;
    padding: 0;
    margin: 0 0 1px 0;
    height:102px;
    background-image:url('/assets/images/ruxtape_logo.jpg');
    background-repeat:no-repeat;
}
div#title {display:none; width:150px; margin: 0 auto;}
div#subtitle { margin:auto 0px;padding: 35px 15px 0 0;float:right; font-size: 1.5em; }
div#wrapper { width: 100%; }

div#content {padding: 0 0em; margin: 1em; line-height: 1.6em;}
div#content h1 { font-size: 32px; margin: 0; padding-top: 0;}
div#content h2 { font-size: 1.5em; margin:20px 0 10px 0px;}
div#content p { padding: 0; margin: 0 0 .25em 0;}
p.login { text-align: right; font-size: 12px; margin: 0; padding: 0;}
ul.songs, ul.sorter { 
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none; 
    margin: 0; padding: 0;
}
ul.sorter { cursor: move; }
li.song, li.sortable {background-color: #eee;padding: 5px; margin:0 0 2px 0; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; }
li.sortable { }
li.song { border-bottom: 1px solid #ccc; }
li.song:hover { background: #dcdcdc; }
li.song .name { float; left; }
li.song .info { float: right; margin-top: -1em;}
li.song .info strong { font-weight: 400; color: #808080; }

div#warning { 
    border: 7px solid red; 
    margin: 2em; padding: 1em; 
    font-size: 18px; font-weight: bold;
    text-align: center;
}
.warning {
  color:#800000;
}
div.song {}
div.info {}
span.file { margin-left: 1em; font-size: 18px; color: #CCCCCC; }

form { display: inline; }

div#footer { float:left; width:90%;font-size: 1em; padding: 1em 0 0 0; text-align: right; }
div.admin_area {
  width:950px;
  margin:0 auto;
  padding:0;
}
.graybox {
  background-color: #eee;padding: 5px; margin:0 0 2px 0; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px;
}
div.admin_left {
  margin: 0 10px 0 0;
  float:left;
  width: 250px;
}
div.admin_list {
  margin: 0px 0 0 0;
  float:left;
  width: 650px;
}
div.song h3 {
  padding:0px;
  margin:0px;
  line-height: 1em;
}
div.song h6 {
  padding:0px;
  margin:10px;
  line-height: 1em;
  color:#808080;
}
div.manage_button {
  float:right;
  display:block;
  background-color:#800000;
  margin:30px 15px 0 0; 
  color: #fff;
  width:90px;
  height:40px;
  border-radius:6px;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
}
div.manage_button a{
  display:block;
  width:90px;
  height:35px;
  text-align:center;
  color: #fff;
  font-size: 20px;
  margin: 9px auto;
  text-decoration:none;
}
input {
  padding:3px;
  margin:3px;
}